@charset "UTF-8";
/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background-color: #000;
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #ffe;
  padding: 1em;
}

header .logo {
  height: 8em;
}

header h1 {
  display: inline-block;
  font-size: 1em;
}

header h1 .logo-text {
  height: 6em;
}

main {
  background-color: #222;
}

h2 {
  text-transform: uppercase;
}

h2:before,
h2:after {
  content: "☆";
}

.cover {
  background-image: url("images/fa-cart-colour-tiny.jpg");
  background-size: cover;
  filter: blur(20px);
  padding-top: 50%;
}

.cover.hires {
  animation: sharpen 3s both;
  background-image: url("images/fa-cart-colour-large.jpg");
}

.food {
  background-color: #ffe;
  padding: 1em;
}

.food .food-intro {
  border-bottom: solid .2em #000;
  border-top: solid .2em #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.food .food-intro .background {
  flex: 1 1 30%;
  padding: 0 1em;
}

.food .food-intro .selling-points {
  flex: 2 1 60%;
  padding: 0 1em;
}

.food .food-intro .selling-points ul {
  padding: 0 1em;
}

.food .food-section {
  background-color: #fff;
  border: solid 1px #960;
  box-shadow: 0 1em 1em -1em #000;
  margin: 1em 2em;
  padding: 2em;
}

.food .food-section h4 {
  margin-top: 0;
}

.food .food-section p:last-child {
  margin-bottom: 0;
}

.food .food-section:nth-child(odd) {
  transform: rotate(3deg);
}

.food .food-section:nth-child(even) {
  transform: rotate(-3deg);
}

@keyframes sharpen {
  from {
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }
  to {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}